.CreateModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 250px;
  width: 400px;
}

.CreateModal .CreateModalMain {
  background-color: #ffffff;
  padding: 14px 36px;
  border-radius: 12px;
  height: 100%;
}

.CreateModalMain form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Here */

.CreateModal .CreateModalMain .SectionAnimation {
  position: relative;
  height: 50px;
  overflow: hidden;
}

.CreateModal .CreateModalMain .SectionAnimation input {
  border: none;

  width: 100%;
  height: 100%;
  padding-top: 20px;

  font-size: 1rem;
}

.CreateModal .CreateModalMain .SectionAnimation input:focus {
  outline: none;
}

.CreateModal .CreateModalMain .SectionAnimation label {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  pointer-events: none;
  border-bottom: 1px solid black;

  color: #a3a3a3;
}

.CreateModal .CreateModalMain .SectionAnimation label::after {
  content: '';
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0px;
  bottom: -1px;

  border-bottom: 3px solid #6661ba;

  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.SectionAnimation label .RoomNameContent,
.SectionAnimation label .RoomPasswordContent {
  position: absolute;
  left: 0px;
  bottom: 5px;
  transition: all 0.3s ease;
}

.SectionAnimation input:focus + .RoomNameLabel .RoomNameContent,
.SectionAnimation input:valid + .RoomNameLabel .RoomNameContent,
.SectionAnimation input:focus + .RoomPasswordLabel .RoomPasswordContent,
.SectionAnimation input:valid + .RoomPasswordLabel .RoomPasswordContent {
  transform: translateY(-110%);
  font-size: 14px;
  color: #6661ba;
}

.SectionAnimation input:focus + .RoomNameLabel::after,
.SectionAnimation input:valid + .RoomNameLabel::after,
.SectionAnimation input:focus + .RoomPasswordLabel::after,
.SectionAnimation input:valid + .RoomPasswordLabel::after {
  transform: translateX(0%);
}

/* Here */

.CreateModal .CreateModalMain .CreateButton {
  background-color: #6661ba;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  font-size: 1rem;

  padding: 12px 0px;
  width: 100%;

  cursor: pointer;
}

.CreateModal .CreateModalMain .CreateButton:focus {
  outline: none;
}

.CreateModal .CreateModalMain .CreateButton:hover {
  background-color: #121127;
}

.ErrorCreateModal .CreateErrorText {
  color: #fa5a48;
}
